@{
    ViewBag.Title = "Home Page";
}



<br /><br /><br />
<div class="row">
    <div class="col-md-4">
        <h2>Companies</h2>
        <p style="text-align:center">
            <img src="~/images/companies.png" alt="Smiley face" height="100">
        </p>
        <p>
            In Companies module you can see list of  all companies and their details. Also you can add, update and delete companies records.
        </p>
        <p>
            <a class="btn btn-default" href="/Companies">Go to Companies &raquo;</a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Positions</h2>
        <p style="text-align:center">
            <img src="~/images/search_icon.png" alt="Smiley face" height="100">
        </p>
        <p>

        </p>
        <p>
            <a class="btn btn-default" href="/Positions">Go to Positions &raquo;</a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Employees</h2>
        <p style="text-align:center">
            <img src="~/images/user_group.png" alt="Smiley face" height="100">
        </p>
        <p>
            In Employees module you can see list of  all employees and their details. Also you can add, update and delete employee records.
        </p>
        <p>
            <a class="btn btn-default" href="/Employees">Go to Employees &raquo;</a>
        </p>
    </div>
</div>
<br /><br />
<div class="row">
    <div class="col-md-4">
        <h2>Messages</h2>
        <p style="text-align:center">
            <img src="~/images/messages-icon.png" alt="Smiley face" height="100">
        </p>
        <p>
            This module is for internal communication between employees and recruiters.
        </p>
        <p>
            <a class="btn btn-default" href="/Messages">Go to Companies &raquo;</a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Recruiters</h2>
        <p style="text-align:center">
            <img src="~/images/admin.png" alt="Smiley face" height="100">
        </p>
        <p>

        </p>
        <p>
            <a class="btn btn-default" href="/Recruitments">Go to Positions &raquo;</a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Reports</h2>
        <p style="text-align:center">
            <img src="~/images/report-icon-blue_247217.png" alt="Smiley face" height="100">
        </p>
        <p>

        </p>
        <p>
            <a class="btn btn-default" href="#">Go to Employees &raquo;</a>
        </p>
    </div>
</div>